@import '@/styles';

$desktop: 1060px;
$tablet: 704px;

.header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.footer {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  //padding: 30px 80px;
  background-color: #f0f6ff;
}

// .buttonContainer,
// .middleContainer,
// .cardContainer {
//   padding: 1rem;
// }

.bodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bodyContent {
  align-items: center;
  gap: 40px;
  max-width: 1060px;
}

.buttonContainer {
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: space-between;
  width: 1060px;
  height: 35px;

  .FolderTypes {
    width: Hug (52px) px;
    height: Hug (35px) px;
    margin-right: 10px;
    padding: 8px 12px;
    border: 1px solid #6d6afe;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;

    &:hover {
      background: linear-gradient(to right, #c596ff, #fffb8a);
    }
  }

  .addFolderButton {
    top: 318px;
    left: 3275px;
    justify-content: left;
    width: 127px;
    height: 35px;
    padding: 8px 24px 8px 24px;
    float: right;
    border: 1px solid #ffffff;
    border-radius: 20px;
    background-color: #6d6afe;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    gap: 20px;
  }
}

.middleContainer {
  // flex: 1;
  > h2 {
    margin: 0;
    // width: 200px;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  .button {
    border: none;
    // float: right;
    // position: relative;
    // top: -45px;
    background-color: #ffffff;
    cursor: pointer;
  }
}

.cardContainer {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  flex: 0 1 auto;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1060px;
  gap: 25px 20px;
}

@media (max-width: 1060px) {
  .bodyContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .cardContainer {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 30px;
    gap: 24px;
  }
}

@media (max-width: 704px) {
  .bodyContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .cardContainer {
    display: flex;
    grid-template: repeat(1, 1fr) / repeat(1, 1fr);
    flex-direction: column;
    align-items: center;
  }
}
